body {
  background: #fff;
  color: rgba(255, 255, 255, 0.4);
  background: #222;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.p1-gradient-bg,
.thumb .overlay-bg {
  background: -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}

.p1-gradient-color {
  background: -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mb-t {
  text-align: justify;
}
::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  font-weight: 200;
}

h1 {
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 10);
  border-bottom: 3px solid #00bfeb;
}

h2 {
  font-size: 25px;
}

a {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  color: #bac964;
}
a:hover,
a:focus,
a:active {
  color: #b2c251;
  text-decoration: none;
}

.parent-nav-link-padding,
.site-navbar .navbar-nav > li > a {
  padding: 15px 20px !important;
}

.site-navbar {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 0px;
  background: none;
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 200;
  background: #fff;
}
.site-navbar .navbar-brand {
  display: inline-block;
  border: 2px solid #fff;
  padding: 5px 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.site-navbar .navbar-brand:hover {
  color: #fff;
}
.site-navbar.bg-light {
  background: transparent !important;
}
@media (max-width: 991.98px) {
  .site-navbar.bg-light {
    background: #444 !important;
    top: 0;
  }
  .site-navbar.bg-light .navbar-brand {
    display: inline-block;
    font-size: 18px;
    border: 2px solid #000;
    padding: 2px 10px !important;
    color: #000;
  }
}
.site-navbar .navbar-nav > li > a {
  color: #fff !important;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
@media (max-width: 991.98px) {
  .site-navbar .navbar-nav > li > a {
    color: #fff !important;
  }
}
.site-navbar .navbar-nav.active > a {
  color: #bac964 !important;
}
.site-navbar.scrolled {
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
.site-navbar.scrolled.bg-light {
  background: #444 !important;
}
.site-navbar.scrolled .navbar-brand {
  display: inline-block;
  font-size: 18px;
  border: 2px solid #000;
  padding: 2px 10px !important;
}
.site-navbar.scrolled.awake,
.site-navbar.scrolled.sleep {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-navbar.scrolled.awake {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  background: #fff !important;
}
.site-navbar.scrolled.sleep {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  background: #bac964 !important;
}
.site-navbar.scrolled .navbar-brand {
  color: #000;
}
.site-navbar.scrolled .dropdown > a:before {
  color: rgba(0, 0, 0, 0.4);
}
.site-navbar.scrolled .navbar-nav > li > a {
  color: #fff !important;
}
.site-navbar.scrolled .navbar-nav > li > a:hover {
  color: #bac964 !important;
}
.site-navbar.scrolled .navbar-nav > li > a.active {
  color: #bac964 !important;
}
.site-navbar.scrolled .navbar-nav > li.active > a {
  color: #bac964 !important;
}

.site-hero {
  background-color: #ccc;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.site-hero,
.site-hero .row {
  height: 100vh;
  min-height: 800px;
}
.site-hero:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.site-hero h1 {
  font-weight: 200;
  margin-bottom: 20px;
  display: block;
}
.site-hero h1 strong {
  font-weight: 800;
  letter-spacing: 2px;
}
@media (min-width: 768px) {
  .site-hero h1 {
    font-size: 70px;
  }
}
.site-hero h1,
.site-hero .lead {
  font-weight: 200;
  color: #fff;
  letter-spacing: 1px;
}
.site-hero .lead {
  line-height: 2;
}
.site-hero .site-subheading {
  max-width: 640px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
}

.site-section {
  padding: 5em 0;
}

.section-heading {
  margin-bottom: 30px;
  position: relative;
  z-index: 10;
}
.section-heading h2 {
  position: relative;
  font-weight: 200;
  padding-top: 20px;
  font-size: 30px;
}
.section-heading h2 strong {
  font-weight: 800;
}
.section-heading.text-center h2:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.lead {
  font-weight: 200;
  line-height: 1.5;
}

.site-service-item {
  background: #333;
  padding: 30px;
}
.site-service-item .icon {
  display: block;
  margin-bottom: 50px;
  background: #edf0f2;
  background: #bac964;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  margin: 0 auto 30px auto;
}
.site-service-item .icon span {
  font-size: 40px;
  color: #080b0e;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.site-service-item h3 {
  font-size: 20px;
  font-weight: 200;
}

.site-link {
  position: relative;
}
.site-link i {
  position: relative;
  top: 2px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-link:hover i {
  position: relative;
  margin-left: 20px;
}

.site-list {
  padding: 0;
  margin: 0;
}
.site-list li {
  margin: 0 0 10px 0;
  padding: 0;
  position: relative;
  list-style: none;
}
.site-list li:before {
  font-family: "icomoon";
  position: absolute;
  top: 0.1em;
  left: 0;
}
.site-list li.site-check {
  padding-left: 30px;
}
.site-list li.site-check:before {
  color: #bac964;
  font-size: 16px;
  content: "\ebd3";
}

.btn {
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2rem;
}
.btn-primary {
  margin-right: 10px;
}
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.btn.btn-primary {
  color: #fff;
}
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background: #b2c251;
}

.progress {
  overflow: visible;
  margin-bottom: 26px;
  height: 4px;
}
.progress .progress-bar {
  background-color: #bac964;
  position: relative;
  border-radius: 4px;
}
.progress .progress-bar span {
  background-color: #bac964;
  position: absolute;
  bottom: -20px;
  font-size: 10px;
  line-height: 10px;
  padding: 2px 3px 2px 4px;
  right: -1.4em;
  border-radius: 2px;
}
.progress .progress-bar span:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #bac964;
  border-width: 5px;
  margin-left: -5px;
}

.skill h3 {
  font-size: 18px;
}

.filters {
  text-align: center;
}
.filters ul {
  padding: 0;
  margin: 0 0 30px 0;
}
.filters ul li {
  display: inline-block;
  cursor: pointer;
  padding: 20px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.filters ul li:hover {
  color: #bac964;
}
.filters ul li.active {
  color: #bac964;
}

.single-portfolio {
  margin-bottom: 50px;
  display: block;
}
.single-portfolio .relative {
  margin-bottom: 20px;
}
.single-portfolio .p-inner {
  text-align: center;
}
.single-portfolio .p-inner h4 {
  font-size: 20px;
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.2);
}
.single-portfolio .p-inner .cat {
  font-size: 12px;
  text-transform: uppercase;
  color: #cccccc;
}

/*--------- Start Portfolio Area -------------*/
.portfolio-area .primary-btn {
  color: #fff;
  background-color: #bac964;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-area .filters {
  text-align: center;
}

.portfolio-area .filters ul {
  padding: 0;
}

.portfolio-area .filters ul li {
  list-style: none;
  display: inline-block;
  padding: 18px 15px;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
  font-weight: 500;
}
@media (max-width: 736px) {
  .portfolio-area .filters ul li {
    padding: 6px 6px;
  }
}

.portfolio-area .filters ul li:after {
  content: "";
  display: block;
  width: calc(0% - 60px);
  position: absolute;
  height: 2px;
  background: #333;
  -webkit-transition: width 350ms ease-out;
  -o-transition: width 350ms ease-out;
  transition: width 350ms ease-out;
}

.portfolio-area .filters ul li:hover:after {
  width: calc(100% - 60px);
  -webkit-transition: width 350ms ease-out;
  -o-transition: width 350ms ease-out;
  transition: width 350ms ease-out;
}

.portfolio-area .filters ul li.active {
  color: #bac964;
}

.portfolio-area .filters-content {
  margin-top: 50px;
}

.portfolio-area .filters-content .show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}

.portfolio-area .filters-content .hide {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}

.portfolio-area .filters-content .item {
  text-align: center;
  cursor: pointer;
  margin-bottom: 30px;
}

.portfolio-area .filters-content .item img {
  border-radius: 10px;
}

.portfolio-area .filters-content .p-inner {
  padding: 20px 0px;
  text-align: center;
}

.portfolio-area .filters-content .item .p-inner .cat {
  font-size: 13px;
}

.portfolio-area .filters-content .item img {
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.middle {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.single-portfolio:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 25px;
  padding: 16px 32px;
}

.single-portfolio {
  border-radius: 5px;
}
.single-portfolio:hover .thumb .overlay-bg {
  opacity: 0.85;
}
.machine_learning h4 {
  color: #e7305b;
}
.coding h4 {
  color: #fe6845;
}
.django h4 {
  color: #d3de32;
}

.pygame h4 {
  color: #eebb4d;
}

.thumb .overlay-bg {
  opacity: 0;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media screen and (prefers-reduced-motion: reduce) {
  .thumb .overlay-bg {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.resume-item {
  padding: 30px;
  background: #333;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  border: 4px solid transparent;
  border-radius: 7px;
}
.resume-item .date {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
.resume-item .school {
  display: block;
  font-size: 16px;
  color: #d6efc7;
}
.resume-item h3 {
  color: #bac964;
  font-size: 20px;
}

.resume-item *:last-child {
  margin-bottom: 0;
}

.exp h3 {
  color: #2fc4b2;
}
.exp a {
  color: #6ebfb5;
}
.expc {
  color: #0779e4;
  font-size: 18px;
}
.exps {
  color: #d92027;
  font-size: 18px;
}

.blog-entry {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: relative;
  top: 0;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  background: #333;
  border-radius: 5px;
  height: 535px;
}
.blog-entry:hover,
.blog-entry:active,
.blog-entry:focus {
  -webkit-box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.1);
  top: -2px;
}
.blog-entry .blog-entry-text {
  border-top: none;
  padding: 30px;
  padding-bottom: 15px;
}
.blog-entry .blog-entry-text h3 {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
}
.blog-entry .blog-entry-text h3 a {
  color: #fff;
}
.blog-entry .blog-entry-text h3 a:hover {
  color: #bac964;
}
.blog-entry .meta {
  font-size: 14px;
}
.blog-entry .meta a {
  display: inline-block;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.4);
}
.blog-entry .meta a:hover {
  color: #bac964;
}

.form-control {
  border: none !important;
  background: #333;
  color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) !important;
}
.form-control:active,
.form-control:focus {
  background: #bac964;
}
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.5);
}
.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}
.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.5);
}
.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
}

.site-form .form-control {
  border: 1px solid #b3bdc6;
}

.site-contact-details,
.site-contact-details li {
  padding: 0;
  margin: 0;
}

.site-contact-details li {
  list-style: none;
  margin-bottom: 20px;
}
.site-contact-details li > span {
  color: #bac964;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.site-footer {
  padding: 3em 0;
}
.site-footer p:last-child {
  margin-bottom: 0;
}
.site-footer .social-item {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #333;
  position: relative;
  border-radius: 50%;
  font-size: 22px;
  margin: 0 10px;
}
.site-footer .social-item > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.block-47 .block-47-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  display: block;
}
.block-47 .block-47-image img {
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.block-47 .block-47-quote {
  margin-left: 40px;
  padding: 30px;
  background: #333;
  border-radius: 7px;
  position: relative;
  -webkit-box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
}
.block-47 .block-47-quote:before {
  content: "";
  border: 1px solid red;
  z-index: 2;
  position: absolute;
  left: -15px;
  border-width: 0 20px 20px 0;
  border-style: solid;
  border-color: transparent #333 transparent transparent;
}
.block-47 .block-47-quote .block-47-quote-author {
  font-size: 14px;
  color: #666666;
}

.letter-spacing {
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.5) !important;
}

.img-fluid {
  border-radius: 50%;
}
.calender {
  background: #333;
  border: none !important;
  border-radius: 10px;
}
.logo {
  text-align: center;
  /* border: 1px solid #fff; */
  background-color: #222;
  padding: 15px 0px 0px 25px;
  margin-bottom: 40px;
}
.logo img,
.logo svg {
  margin-right: 10px;
}

/*
  h1 {
    box-shadow:0px 1px 10px 2px rgba(0,0,0,0.2);
    border-bottom: 3px solid #00bfeb;
    font-size: calc(1em + 1vmax);
  }
  .counter {
    display: inline-flex;
    cursor:pointer;
    width:300px;
    height:300px;
    max-width:100%;
    position:relative;
    justify-content:center;
    align-items:center;
    font-size: calc(1em + 1vmin);
    transition: height .2s ease-in-out;
    background: #fff;
    border-radius:50%;
    box-shadow:0px 1px 10px 2px rgba(0,0,0,0.2);
    margin:1em 0;
  }
  .percentage {
    position:absolute;
    text-align:center;
    top:50%;
    left:0;
    right:0;
    vertical-align:middle;
    transform:translate3d(0,-50%,0);
  }
  canvas {
    position:absolute;
    top:0;
    left:0;
  }
  input {
      width: 200px;
  }
  @import url('https://fonts.googleapis.com/css?family=Open+Sans');
  .bg-style {
    padding:2em;
  } */

body2 {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
:root {
  --dark-green: #9cc675;
  --dark-yellow: #393e46;
  --extra-light-brown: #fdf0d7;
  --light-brown: #ecd5ab;
  --dark-brown: #915b40;
  --light-yellow: #f8e3a8;
  --light-red: #f3ac99;
  --light-teal: #a6c8cc;
  --light-gray: #ddd5d6;
  --theme-color2: #393e46;
}

.site-logo {
  width: 218.33px !important;
  margin-right: 50px;
}
.btn2 {
  border-radius: 5px;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.02em;
  line-height: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  padding: 14px 30px;
  cursor: pointer;
}
.btn-theme {
  background: var(--theme-color1);
  color: #212121;
}

.c-container {
  margin: auto;
  width: 93%;
  position: relative;
  z-index: 1;
}

.btn-outline-white {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: none;
  border-width: 2px;
  border-color: #fff;
  font-weight: 500;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn2 {
  border-radius: 5px;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.02em;
  line-height: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  padding: 14px 30px;
  cursor: pointer;
}
.btn-outline-white:hover {
  background-color: #fff;
  color: var(--text-dark);
}
/* common css up */

.testimonial p {
  font-size: 28px;
  letter-spacing: 0.02em;
  line-height: 35px;
}
.testimonial .name {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.04em;
  line-height: 35px;
  text-align: left;
}
.testimonial .designation {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.04em;
  text-align: left;
  color: #fff;
  margin-bottom: 25px;
}
.unt {
  margin-bottom: 20px;
  margin-top: 60px;
}
.hero-text {
  font-size: 30px;
  letter-spacing: 0.02em;
  color: #fff;
}
.gallery-thumbs {
  height: 100%;
}
.gallery-thumbs .swiper-wrapper {
  align-items: center;
}
.gallery-thumbs .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px !important;
  height: 330px;
  position: relative;
}
.gallery-thumbs .swiper-slide img {
  filter: contrast(0.5) blur(1px);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.gallery-thumbs .swiper-slide-active img {
  filter: contrast(1) blur(0px) !important;
}
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-row .flex-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.gallery-thumbs .swiper-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial-section .quote {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}
.swiper-container.testimonial {
  height: 75vh;
}
.testimonial-section .user-saying {
  background: var(--theme-color2);
  width: 60%;
  color: #fff;
  height: 100%;
  border-radius: 25px;
}
.testi-user-img {
  width: 40%;
}
.testimonial-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 95%;
  height: 100%;
}
.testimonial-section .quote p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
  font-style: italic;
  margin: 0;
}
.quote-icon {
  margin-top: 40px;
  width: 34px;
  display: block;
  margin-bottom: 24px;
}

.github-info {
  max-width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .blog-entry {
    height: 620px;
  }
}

@media screen and (max-width: 763px) {
  .resume-heading {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .github-info {
    max-width: 95%;
  }
}

@media screen and (max-width: 575px) {
  .about-passion {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }

  .about-ask {
    font-size: 14px;
  }

  .blog-entry {
    height: 440px;
  }

  .testi-user-img {
    display: none;
  }

  .testimonial-section .user-saying {
    margin: 0 auto;
    width: 95%;
  }

  .testimonial-section .quote {
    padding: 10px 30px;
    line-height: 1.4;
  }

  .quote-icon {
    margin-top: 5px;
    width: 30px;
  }

  .testimonial-section .quote p {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .logo img,
  .logo svg {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 475px) {
  .site-section {
    padding: 2em;
  }

  .title-mb {
    margin-bottom: 2.1rem !important;
  }

  .testimonial-section {
    width: 100%;
  }

  .section-heading {
    margin-bottom: 22px !important;
  }

  .testimonial-section .user-saying {
    margin: 0 auto;
    width: 100%;
    height: 82vh;
  }

  .testimonial-section .quote p {
    font-size: 14px;
  }

  .testimonial .name {
    font-size: 17px;
  }

  .testimonial .designation {
    font-size: 15px;
  }

  #btn-social {
    margin-top: 20px;
  }

  .form-group .btn {
    margin-top: 15px;
    padding: 0.8rem !important;
    font-size: 11px !important;
  }

  .social-item {
    height: 38px !important;
    width: 38px !important;
  }
}

@media screen and (max-width: 448px) {
  #be-2 {
    height: 495px;
  }
}

@media screen and (max-width: 430px) {
  #card-tf {
    height: 375px;
  }
}

@media screen and (max-width: 422px) {
  #be-1 {
    height: 490px;
  }
}

@media screen and (max-width: 422px) {
  #be-3 {
    height: 490px;
  }
}

@media screen and (max-width: 416px) {
  .calender {
    height: 240px;
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    padding: 0.3rem 0.5rem !important;
  }

  .site-hero h1 {
    font-size: 2.2rem;
  }

  .site-section {
    padding: 2rem 0.2rem;
  }

  .section-heading h2 {
    font-size: 27px;
  }

  #section-portfolio {
    padding-bottom: 0.4rem;
  }

  .title-mb {
    margin-bottom: 0.8rem !important;
  }

  .about-passion {
    font-size: 1rem;
    margin-bottom: 1.4rem;
  }

  .resume-heading {
    margin-top: 1.5rem;
    margin-bottom: 1.85rem !important;
  }

  #resume-education {
    margin-top: 0.5rem !important;
  }

  .blog-entry {
    height: 455px;
  }

  .logo img,
  .logo svg {
    height: 21px !important;
    width: 21px !important;
    margin-bottom: 13px;
  }

  .github-info {
    padding-bottom: 1.5rem;
  }

  .social-item {
    height: 35px !important;
    width: 35px !important;
  }

  .btn-utshab {
    margin-top: 20px;
  }

  .site-footer {
    padding: 0;
  }
}

@media screen and (max-width: 437px) {
  #btn-social {
    margin-top: 20px;
  }
}

@media screen and (max-width: 390px) {
  .blog-entry {
    height: 500px;
  }
}

@media screen and (max-width: 330px) {
  #be-2 {
    height: 520px;
  }
  #be-3 {
    height: 500px;
  }

  .testimonial-section .quote p {
    font-size: 12px;
  }

  .testimonial .name {
    font-size: 15px;
  }

  .testimonial .designation {
    font-size: 13px;
  }
}



.column {
  float: left;
  width: 33.33%;
  padding: 10px 10px 40px 10px ;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}